@import "base/variables";
@import "base/resets";
@import "base/utilidades";

@import "components/navbar";
@import "components/footer";

@import "layout/index";
@import "layout/hombre";
@import "layout/mujer";
@import "layout/galeria";
@import "layout/pagos";
@import "layout/mediaqueries";
@import "layout/animaciones";



@font-face {
    font-family: "roboto";
    src: url(../assets/Roboto-Medium.ttf);
}


.card:hover{
    box-shadow: 5px 5px 25px #000;
}

.navMenu:hover{
    border-bottom: 1px solid #666;
    padding: 1%;
}