
@media only screen and (max-width: 1480px){
    .card{
        width: 40%;
    }

    .medios-pago{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 960px){
    .card{
        width: 60%;
    }

    .galeria{
        width: 350px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 576px){
    .etiquetas{
        display: flex;
        flex-direction: column;
        .etiqueta{
            border: none;
        }
    }
    
    .sobre-feli, .sobre-andre{
        display: flex;
        flex-direction: column;
        align-items: center;

        .logos{
            margin-bottom: 10px;
        }
    } 
    

    footer, .creditos{
        display: flex;
        flex-direction: column;
    }

    .ropa-hombre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 80%;
    }
}


