.medios-pago{
    display: grid;
    grid-template-columns: 1fr 700px;
    grid-template-rows: auto;
    grid-template-areas: 
    'pagos imagen'
    'aviso aviso'
    ;
    margin: 2%;
}

.pagos ul li{
    padding: 15px;
    font-size: 25px;
}

.pagos{
    grid-area: pagos;
    margin-top: 3%;
}

.aviso{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 2%;
    grid-area: aviso;
}

.img-pagos{
    display: flex;
    justify-content: center;
    grid-area: imagen;
}

.img-pagos img{
    width: 700px;
}