.medios-pago{
    display: grid;
    grid-template-columns: 1fr 700px;
    grid-template-rows: auto;
    grid-template-areas: 
    'pagos imagen'
    'aviso aviso'
    ;
    margin: 2%;

    .pagos{
        grid-area: pagos;
        margin-top: 3%;

        ul li{
            padding: 15px;
            font-size: 25px;
        }
    }

    .img-pagos{
        display: flex;
        justify-content: center;
        grid-area: imagen;

        img{
            width: 700px;
        }
    }

    .aviso{
        text-align: center;
        margin-top: 6%;
        margin-bottom: 2%;
        grid-area: aviso;
    }
}