footer{
    height: auto;
    background-color: #D7C0AE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    'ig wsp'
    'creditos creditos'
    ;
    .ig{
        grid-area: ig;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0 auto;
        gap: 3%;
        h3{
            font-size: 40px;
        }

        &-feli{
            display: flex;
            gap: 3%;
            padding: 2%;
            h4{
                margin-bottom: 0;
            }
        }

        &-andre{
            display: flex;
            gap: 3%;
            padding: 2%;
            h4{
                margin-bottom: 0;
            }
        }

        .footer-img{
            margin-left: 0;
        }
    }

    .wsp{
        grid-area: wsp;
        @include flex(column, start);
        justify-content: start;
        margin: 0 auto;
        gap: 3%;
        h3{
            font-size: 40px;
        }
        &-feli{
            display: flex;
            padding: 2%;
            align-items: center;
            h4{
                margin-bottom: 0;
            }
        }
    }

    .creditos{
        grid-area: creditos;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p{
            margin-bottom: 0;
        }
    }

    .footer-img{
        width: 30px;
    }
}


