*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: roboto;
}

body{
    background-image: $main-color;
}

@font-face {
    font-family: "roboto";
    src: url(../assets/Roboto-Medium.ttf);
}