*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: roboto;
}

body{
    background-image: radial-gradient(circle,#EEE3CB,#D7C0AE);
}

@font-face {
    font-family: "roboto";
    src: url(../assets/Roboto-Medium.ttf);
}